@CHARSET "UTF-8";

 #d1{
 	display: inline-block;
 	width: 48%;
 }
 #d2{
 	display: inline-block;
 	width: 49%;
 	margin-left: 1pt;
 }
 #d4{
 	display: inline-block;
 	width: 48%;
 }
 #d5{
 	display: inline-block;
 	width: 49%;
 	margin-left: 1pt;
 }

